/*弹窗最大高度*/
.el-dialog__body {
  max-height: 80vh;
  overflow: auto;
  scrollbar-width: thin;
}

button.el-button:focus{
  color: var(--el-button-text-color);
  border-color: var(--el-button-border-color);
  background-color: var(--el-button-bg-color);
}
